.bocetos {
    width: 70%;
    border-style: double;
    border-radius: 10%;
}

.cBocetos {
    text-align: center;
}

.container {
    box-shadow: grey;
    background-color: pink; 
    
<!-- You will not be able to see this text. -->
}
