.header {
    background-image: url(PaperCrumpled.jpg);
    padding: 5px;
    border-style: double;
    border-radius: 5px 20px 5px;
    margin: 10px;
    text-align: center;
}

.navbar {
    background-color: rgb(32, 32, 32);
    overflow: hidden;
}

.navbar a{
    float: left;
    display: block;
    color: gray;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: rgb(224, 224, 224);
}

body {
    background-color: #ffffff; 
    font-family: sans-serif;
}

button {
    background-color: darkslategray;
    color:aqua;
    font-family: sans-serif;
    border-color: darkslategray;
}
