.header {
    background-image: url(PaperCrumpled0004_1_350.jpg);
    padding: 5px;
    border-style: double;
    border-radius: 5px 20px 5px;
    margin: 10px;
    text-align: center;
    
}

.navbar {
    background-color: rgb(32, 32, 32);
    overflow: hidden;
}

.navbar a{
    float: left;
    display: block;
    color: gray;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: rgb(224, 224, 224);
    color: black;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: black;
    color: wheat;
    text-align: center;
    width: 100%;
}

body {
    background-color: rgb(0, 0, 0);
    font-family: sans-serif;
}

button {
    background-color: darkslategray;
    color:aqua;
    font-family: sans-serif;
    border-color: darkslategray;
}

h1 {
    text-align: center;
}