/* || CABECERA - Menu parte superior*/
.cabecera {
  grid-column: c2;
  grid-row: r1;

  display: flex;

  background-color: rgb(255, 255, 255);
  color: rgb(32, 32, 32);

  font-size: 100%;
  padding: 0;
  margin: 0;
  height: 5rem;
}

/* ||QUOTE */
.quote {
  flex-direction: row;
  margin-right: 0;
  margin-left: auto;

  padding-left: 0;
  padding-right: 0;
  font-style: italic;
  font-weight: 300;
  font-size: 250%;
}

/* ||NOT LOGGED - Botones de LOGIN y REGISTRAR */
.nav_iconos {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  padding-right: 0;
  list-style: none;

  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 7rem;
  box-sizing: border-box;
}

.nav_i {
  color: #fff;
  border-color: #ffffff;

  display: inline-block;
  text-align: center;
  font-size: 1rem;
  border-radius: 2rem;
}
.nav_login {
  background-color: #93aefc;
  border: 1px solid #6b88df;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.nav_reg {
  background-color: #4e73df;
  border: 1px solid #3c57aa;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

li.nav_i a {
  display: block;
  padding: 1rem;
  color: rgb(255, 255, 255);
  transition: background-color 5s;
  cursor: pointer;
  border: none;
  transition: color 0.5s;
}
li.nav_login a {
  padding: 0.4rem 1.5rem 0.4rem 2rem;
}

li.nav_reg a {
  padding: 0.4rem 2rem 0.4rem 1.5rem;
}

li.nav_login a:hover {
  color: rgba(66, 66, 66, 0.753);
}

li.nav_reg a:hover {
  color: rgba(36, 0, 37, 0.623);
}

/* ||LOGGED IN - Nombre del usuario y botón de cerrar sesión*/

.nav_logout {
  background-color: #ff4e4e98;
  border: 1px solid #ff877f;
}

li.nav_logout a {
  padding: 0.4rem 2rem;
}

li.nav_logout a:hover {
  color: rgba(66, 66, 66, 0.753);
}

/* Clases generalizadas */
.flex_c {
  display: flex;

  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
