* {
  box-sizing: border-box;
}

/* || CONTENIDO*/
.contenido {
  grid-column: c2;
  grid-row: r2;

  background-color: rgb(243, 243, 243);
  color: rgb(255, 255, 255);

  padding-top: 0px;
  margin: 0;

  overflow-y: scroll;

  max-height: 92vh;
  overflow-y: scroll;
  width: 100%;

  padding-bottom: 100px;
}

.pag-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: baseline;
  align-content: flex-start;
}

/* Clases generales*/

.box {
  background-color: transparent;
  border: 1px solid #e3e6f0;
  border-radius: 5px;
  color: black;
  word-wrap: break-word;
}
.box .t2 {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #f8f9fc;
  border-bottom: 1px solid #e3e6f0;
}

.box .b2 {
  padding: 1.25rem;
  background-color: white;
}
.box .tittle {
  padding: 1px;
  margin: 5px;
  background-color: lightblue;
  border-color: rgb(0, 255, 13);
  border-width: 2px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.box .body {
  padding: 1px;
  background-color: lightpink;
  border-color: lightseagreen;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
