.principal{
    display: flex;
    flex-flow: row;
    align-items: stretch;
}

.barraLateralIzq{
    border-style: solid;
    border-color: black;
    border-width: 3px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    background-color:grey;
    align-items: center;
    flex-basis: 20%;
}

.barraLateralIzq > div{
   
    align-items: center;
    justify-content: center;

}

.contenido{
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: black;
    border-width: 3px;
    background-color: whitesmoke;
    flex-basis: 80%;
}                

.barraLateralDer{
    border-style: solid;
    border-color: black;
    border-width: 3px;
    display: flex;
    flex-flow: column;
    background-color:blueviolet;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 20%;
}

.barraLateralDer > div{
    align-items: center;
    justify-content: center;
}

.apartado3{
    justify-content: space-around;
    padding: 30px;
}              