.principal{
    display: flex;
    flex-flow: row;
    align-items: stretch;
}

.barraLateralIzq{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    background-color:gray;
    flex-basis: 20%;
}

.contenido{
    background-color: whitesmoke;
    flex-basis: 80%;
}                

.barraLateralDer{
    display: flex;
    flex-flow: column;
    background-color:slateblue;
    justify-content: space-around;
    flex-basis: 20%;
}

.apartado3{
    justify-content: space-around;
    padding: 30px;
}   