

.principal{
    display: flex;
    flex-flow: row;
    align-items: center;
}

.barraLateralIzq{
    border-style: solid;
    border-color: black;
    border-width: 8px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    background-color:black;
    align-items: center;
    flex-basis: 20%;
}

.barraLateralIzq > div{
    background-color: sienna;
    align-items: center;
    justify-content: center;

}

.contenido{
    background-color: whitesmoke;
    flex-basis: 80%;
}                

.barraLateralDer{
    display: flex;
    flex-flow: column;
    background-color:green;
    justify-content: space-around;
    flex-basis: 20%;
}

.apartado3{
    justify-content: space-around;
    padding: 30px;
}   



