* {
  box-sizing: border-box;
}

/* || CONTENIDO*/
.contenido {
  grid-column: c2;
  grid-row: r2;

  background-color: rgb(243, 243, 243);
  color: rgb(255, 255, 255);

  padding-top: 0px;
  margin: 0;

  overflow-y: scroll;

  max-height: 92vh;
  overflow-y: scroll;
  width: 100%;

  padding-bottom: 100px;
}

ul {
  list-style: none;
}
.pag-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: baseline;
  align-content: flex-start;
}

/* Clases generales*/

.box {
  background-color: transparent;
  border: 1px solid #e3e6f0;
  border-radius: 1rem;
  color: black;
  word-wrap: break-word;

  margin: 1.5rem;
}
.box .t1 {
  padding: 0.4rem 1.25rem;
  margin-bottom: 0;
  background-color: #f8f9fc;
  border-bottom: 1px solid #e3e6f0;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  color: #4e73df;
}

.box .t1 h2 {
  font-weight: 500;
  font-size: 140%;
}

.box .b1 {
  padding: 0.6rem 1.25rem;
  background-color: white;
  border-radius: 1rem;
  font-size: 100%;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.fc {
  display: flex;
  justify-content: space-evenly;
}

.fc-col {
  flex-flow: column wrap;
}

.fc-row {
  flex-flow: row wrap;

  width: 100h;
}

/*TEAM EMPIEZA AQUI*/
