html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  font-size: 1rem;
  line-height: 2;
  text-align: left;
  font-family: "Roboto", sans-serif;

  overflow: hidden;
}

.contenedor {
  display: grid;
  grid-gap: 0;
  grid-template-columns: [c1] 1fr [c2] 5.5fr;
  grid-template-rows: [r1] 1fr [r2] 11fr;

  width: auto;
  height: auto;

  /* respetar ration al hacer zoom*/
  min-width: 100%;
  min-height: 100%;

  background-color: #fff;
  color: #000000;
}

/*Links no subrayados*/
a {
  text-decoration: none;
}

/* CLASES GENERALES */

/*botón*/

.btn {
  color: #fff;
  border-color: #ffffff;

  display: inline-block;
  text-align: center;
  font-size: 1rem;
  border-radius: 2rem;
}

.btn a,
.btn button {
  display: block;
  padding: 1rem;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border: none;
  transition: 0.5s;
}

/* fc -> Flex content*/
.fb-center {
  align-items: center;
}

.fb-right {
  align-items: right;
}

.fb-col {
  display: flex;
  flex-direction: column;
}

.fb-row {
  display: flex;
  flex-flow: row wrap;
  padding-left: 0;
}

/*box content*/

.box {
  background-color: transparent;

  color: black;
  word-wrap: break-word;
  margin: 2rem 1.5rem 0;
}

.field {
  border-radius: 1rem;
  border: 1px solid #e3e6f0;
  padding: 0.4rem 1.25rem;
  margin-bottom: 0;
  background-color: #f8f9fc;
  box-shadow: 0 0.5rem 2rem 0 rgba(96, 98, 114, 0.178);
}

.t1 {
  border: 1px solid #e3e6f0;
  padding: 0.4rem 1.25rem;
  margin-bottom: 0;
  background-color: #f8f9fc;
  border-bottom: 1px solid #e3e6f0;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  color: #000;
  box-shadow: 0 0.5rem 2rem 0 rgba(96, 98, 114, 0.178);
  /*color: #2dc8ae;*/
}

.b1 {
  border: 1px solid #e3e6f0;
  padding: 0.6rem 1.25rem;
  background-color: white;
  border-radius: 1rem;

  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  color: #000;

  box-shadow: 0 0.5rem 2rem 0 rgba(96, 98, 114, 0.178);
}

.t2 {
  border: 1px solid #e3e6f0;
  padding: 0.1rem 1rem;
  margin-bottom: 0;
  border-bottom: 1px solid #e3e6f0;

  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 90%;
  background-color: #f8f9fc;
  color: #000;
  box-shadow: 0 0.5rem 2rem 0 rgba(96, 98, 114, 0.178);
}

.b2 {
  border: 1px solid #e3e6f0;
  padding: 0.6rem 1.25rem;
  background-color: white;
  border-radius: 1rem;
  font-size: 100%;

  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  color: #000;

  box-shadow: 0 0.5rem 2rem 0 rgba(96, 98, 114, 0.178);
}

.box h1 {
  font-weight: 500;
  font-size: 140%;
}

.box h2 {
  font-weight: 300;
  font-size: 120%;
}

/*Tabla---------------------------------------------------------------------------------------------------------*/
table {
  width: auto;
  margin: 1rem 0 2rem 0;
}

table,
th,
td {
  border: 1px solid rgb(97, 97, 97);
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 0.5rem;
}

th {
  background-color: #e0d7f0;
  color: black;
}

tr:nth-child(even) {
  background-color: rgb(200, 200, 200);
  border-radius: 5rem;
}

tr:nth-child(odd) {
  background-color: rgb(131, 130, 130);
}

/*positioning*/
.v-center {
  align-items: center;
}

.h-center {
  justify-items: center;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.jc_space-between {
  justify-content: space-between;
}

.jc_space-around {
  justify-content: space-around;
}

.jc_center {
  justify-content: center;
}

/*Fondo de pantalla*/
.c_background {
  background-image: linear-gradient(
    0deg,
    #e4a8c6 20%,
    #cf4b8d 50%,
    #57042e 100%
  );
}
