/* || CABECERA - Menu parte superior*/
.cabecera {
  grid-column: c2;
  grid-row: r1;

  background-color: rgb(183, 206, 255);
  color: rgb(0, 0, 0);

  font-size: 100%;
  padding: 0;
  margin: 0;
}

.sombra {
  box-shadow: 0 0.15rem 1.8rem -1.8rem rgb(255, 0, 170);
}
